services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    environment:
      - NODE_ENV=production
    networks:
      - talenthub-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3030:30"  # Changed to 8080 to avoid conflicts
    depends_on:
      - backend
    networks:
      - talenthub-network

networks:
  talenthub-network:
    driver: bridge
