---
- name: Deploy Job Portal using Docker Compose on Mac
  hosts: localhost
  connection: local
  gather_facts: yes
  become: no

  tasks:
    - name: Ensure Docker is installed via Homebrew
      homebrew:
        name: docker
        state: present

    - name: Ensure Docker Compose is installed via Homebrew
      homebrew:
        name: docker-compose
        state: present

    - name: Create app directory in home
      file:
        path: "{{ ansible_env.HOME }}/job-portal-deploy"
        state: directory
        owner: "{{ ansible_env.USER }}"
        mode: '0755'

    - name: Sync project files to deploy directory
      synchronize:
        src: "{{ playbook_dir }}/../"
        dest: "{{ ansible_env.HOME }}/job-portal-deploy"
        delete: yes
        rsync_opts:
          - "--exclude=.git"
          - "--exclude=node_modules"
          - "--exclude=Ansible"

    - name: Deploy Docker containers
      community.docker.docker_compose_v2:
        project_src: "{{ ansible_env.HOME }}/job-portal-deploy"
        build: always
        state: present
