- name: Deploy Job Portal using Docker Compose
  hosts: jobportal_servers
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Install docker-compose plugin
      apt:
        name: docker-compose-plugin
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create app directory
      file:
        path: /opt/job-portal
        state: directory
        mode: '0755'

    - name: Sync project files
      synchronize:
        src: "{{ playbook_dir }}/../"
        dest: /opt/job-portal
        delete: yes
        rsync_opts:
          - "--exclude=.git"
          - "--exclude=node_modules"
          - "--exclude=Ansible"

    - name: Deploy containers
      community.docker.docker_compose_v2:
        project_src: /opt/job-portal
        build: true
        state: present
